{% extends "predictor/base.html" %}
{% load static %}

{% block title %}
Hearta.tech - Sign up
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'predictor/signup.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'predictor/signup.js' %}" defer></script>
{% endblock %}

{% block content %}
<section class="content-wrapper">
    <section class="sign-up-box">
        <div data-role="welcome-msg">
            Welcome
        </div>
        <section data-role="sign-up-prompts">
            {% csrf_token %}
            <div data-role="username-container">
                <label for="username-input" data-role="username-label">
                    Username:
                </label>
                <input id="username-input" type="text">
                <br>
                <small data-role="username-error" class="error">
                    A username is required to sign you up!
                </small>
            </div>
            <div data-role="password-container">
                <label for="password-input" data-role="password-label">
                    Password:
                </label>
                <input id="password-input" type="password" autocomplete="false">
                <br>
                <div data-role="show-password-container">
                    <label data-role="show-password">
                        <input type="checkbox"> Show Password
                    </label>
                </div>
                <!-- <br> -->
                <small data-role="password-error" class="error">
                    A password is required to sign you up!
                </small>
            </div>
            <div data-role="sign-up-btn-container">
                <span data-role="sign-up">
                    Sign up
                </span>
            </div>
            <div data-role="sign-up-instead-container">
                <small>
                    Already have an account? <a data-role="sign-in-redirect" href="{% url 'signin' %}">Sign in</a>!
                </small>
            </div>
        </section>
    </section>
</section>
{% endblock %}
