*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 10vh;
    --footer-height: 5vh;

    --header-bg-color: #994636;
    --footer-bg-color: #dbdbae;
    --main-bg-color: #ca9073;

    user-select: none;
}

:root, body {
    height: 100%;
    width: 100%;

    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
}

header {
    height: var(--header-height);
    background: var(--header-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    color: var(--footer-bg-color);
    text-shadow: 2px 2px 4px grey;
}

footer {
    height: var(--footer-height);
    background: var(--footer-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: calc(100% - calc(var(--footer-height) + var(--header-height)));
    background: var(--main-bg-color);
}
